.chatList {
    margin: 15px auto; 
    width: 400px;
}

.chatList > ul {
    display: flex;
    flex-wrap: wrap;
}

.chatList > ul > li {
    display: inline-block;
}

.chatTab {
    display: inline-block;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.chatTab:active {
    transform: scale(1.2);
}

.deleteChat {
    display: inline-block;
    margin-left: 5px;
    transform: rotate(45deg);
}