.inputButton {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: #999;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.inputButton:hover {
    background-color: #555;
    cursor: pointer;
}