.border {
    border: 1px solid black;
}

.chatWindow {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.chatForm {
    background-color: #DDD;
    padding: 15px;
    margin: 0 auto;
    width: 370px;
}

.inputusername,
.inputmessage {
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.inputmessage {
    width: 360px;
    height: 100px;

}